html
{
	font-family: 'Raleway', sans-serif;
}
header
{
	height: 100px;
}
.logo
{
	margin-top: 25px;
}
nav
{
	display: flex;
	position: absolute;
	top: 0px;
	right: 0px;	
}
.nav
{
	width: 200px;
	border-top: 2px solid #0065FC;
	text-align: center;
	padding-top: 50px
}
.nav3
{
	font-weight: bold;
}
#recherche h2, #recherche p
{
	margin-left: -65px;
}
#recherche p
{
	margin-top: 0px;
}
#recherche h2
{
	margin-bottom: 10px;
}
#recherche
{
	display: flex;
	flex-direction: column;
	margin-left: 100px;
}
#barre-recherche
{
	display: flex;
	margin-bottom: 25px;
	justify-content: flex-start;
	margin-left: -70px;
}
.icone-recherche
{
	width: 31px;
	height: 31px;
	border: 1px solid #f2f2f2;
	padding-top: 12px;
	padding-left: 18px;
	border-top-left-radius: 15px;
	border-bottom-left-radius:15px;
	background: #f2f2f2;
}
.champ-recherche
{
	width: 200px;
	height: 45px;
	border: 1px solid #f2f2f2;
}
.bouton-recherche
{
	background: #0065FC;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	border: none;
	width: 110px;
	height: 45px;
	color: white;
}
#filtres
{
	display: flex;
	font-weight: bold;
	justify-content: flex-start;
	margin-left: -70px;
}
.cadre-icone-filtre
{
	width: 40px;
	height: 40px;
	border: 3px solid #f2f2f2;
	border-radius: 38px;
	position: relative;
	bottom: 13px;
	right: 8px;
	background: #f2f2f2;
}
.conteneur-filtres
{
	display: flex;
}
.filtre
{
	display: flex;
	
	height: 30px;
	border: 3px solid #f2f2f2;
	margin-left: 15px;
	margin-right: 15px;
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 5px;
	text-align: center;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
}
.filtre-txt
{
	width: 20px;
	height: 30px;
	margin-left: 5px;
	margin-right: 15px;
	padding-top: 13px;
	padding-right: 15px;
}
.economique
{
	width: 150px;

}
.familial
{
	width: 120px;
	
}
.romantique
{
	width: 150px;

}
.animaux
{
	width: 200px;

}
#filtres .fas
{
	position: relative;
	top: 10px;
	color: #0065FC;
}
#infos .fas
{
	border: 0.5px solid #d9d9d9;
	color: #0065FC;
	border-radius: 15px;
	width: 25px;
	height: 20px;
	text-align: center;
	padding-top: 5px;
	margin-right: 10px;
}
#infos h5
{
	font-weight: 400;
}
#resultat .fas
{
	color: #0065FC;
}
#conteneur-1
{
	display: flex;
	height: 880px;
}
.cadre-1
{
	width: 65%;
	margin: 25px;
	border-radius: 10px;
	padding: 20px;
	background: #f2f2f2;
}
.titre-hebergements
{
	padding-left: 20px;
}
.titre-populaires
{
	padding-left: 15px;
}
#conteneur-hebergements
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.hebergement
{
	width: 350px;
	height: 250px;
	border: 5px solid white;
	border-radius: 15px;
	margin: auto;
	margin-bottom: 30px;
	box-shadow: 7px 7px 12px #d9d9d9;
	background: white;
	overflow: hidden;
}
.a-texte 
{
	text-align: justify;
	padding-left: 15px;
	font-weight: bold;	
}
.prix
{
	text-align: justify;
	padding-left: 15px;
}
.note-icones
{
	padding-left: 15px;
}
.afficher-plus
{
	padding-left: 20px;
	padding-bottom: 200px;
	position: relative;
	top: 50px;
	font-weight: bold;
	font-size: 20px;
}
.cadre-2
{
	width: 27%;
	margin: 25px;
	border-radius: 10px;
	padding: 20px;
	background: #f2f2f2;
}
.conteneur-populaires
{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-between;
}
.populaire
{
	display: flex;
	width: 450px;
	height: 180px;
	border: 5px solid white;
	border-radius: 15px;
	margin-left: 15px;
	margin-bottom: 50px;
	box-shadow: 7px 7px 12px #d9d9d9;
	background: white;
	overflow: hidden;
}
.populaire .note-icones
{
	position: relative;
	top: 50px;
}
#activites
{
	margin-bottom: 50px;
	margin-right: 25px;
}
.activites
{
	display: flex;
	justify-content: space-between;
}
.activite-3
{
	align-self: flex-end;
	position: absolute;
	left: 26.7%;
}
.activite-6
{
	align-self: flex-end;
	position: absolute;
	right: 1.7%;
}
.activite
{
	border-left: 1px solid #f2f2f2;
	width: 420px;
	border-radius: 15px;
	overflow: hidden;
	box-shadow: 7px 7px 7px #f2f2f2;
}
.activite-1, .activite-4
{
	height: 680px;
}
.activite-2 img, .activite-5 img
{
	height: 80%;
}
.activite-2,  .activite-5
{
	height: 360px;
}
.activite-3 img, .activite-6 img
{
	width: 100%;
	height: 80%;
}
.activite-3, .activite-6
{
	height: 280px;
}
.a-propos, .hebergements, .assistance
{
	width: 650px;
}
#footer-menu
{
	display: flex;
	justify-content: flex-start;
	margin-left: 5px;
}
footer
{
	background: #f2f2f2;
	margin: -8px;
}
header, #infos, #activites, .a-propos
{
	margin-left: 30px;
}


@media all and (max-device-width: 425px)
{
	html, body, footer
	{
		width: 100%;
		overflow-x: hidden;
	}
	body
	{
		margin-left: 0px;
	}
	header, .a-propos
	{
		margin-left: 0px;
		
	}
	header
	{
		display: flex;
		flex-wrap: wrap;
		height: 170px;		
	}
	.logo
	{
		position: relative;
		bottom: 27%;
		left: 3%;
	}
	nav
	{
		
		height: 100%;
		width: 100%
	}
	.nav3
	{
		position: relative;
		left: 80%;
		border: none;
		width: 60px;
		height: 50%;
	}
	.nav2
	{
		position: absolute;
		top: 10%;
		left: 0%;
		border-top: none;
		border-bottom: 2px solid #0065FC;
		padding-bottom: 15px;
		width: 50%
	}
	.nav1
	{
		position: absolute;
		top: 10%;
		right: 0%;
		border-top: none;
		border-bottom: 2px solid #0065FC;
		padding-bottom: 15px;
		width: 50%;
		
	}
	#barre-recherche
	{
		justify-content: center;
		margin-left: 5px;
	}	
	.bouton-recherche
	{
		width: 55px;
		border-radius: 15px;
		height: 55px;
		position: relative;
		right: 9px;
	}
	.icone-recherche
	{
		height: 36px;
		width: 33px;
		padding-top: 17px;
		padding-left: 20px;
	}
	.champ-recherche
	{
		width: 65%; 
		border-right: none;
		height: 55px;
	}
	#info h5
	{
		margin-right: -25px;
	}
	.titre-activites
	{
		position: relative;
		right: 15%;
	}
	#activites
	{
		margin-top: -40%;
	}
	#activites, .activites, #conteneur-1,  .resp
	{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 100%;
		height: 99%;
		align-items: center;
	}
	.cadre-1
	{
		background: none;
	}
	.cadre-1:nth-child(1)
	{
		order: 2;
	}
	.cadre-2:nth-child(2)
	{
		order: 1;
	}
	.cadre-1,.cadre-2 
	{
		margin: 0;
		width: 95%;
	}
	.cadre-2
	{
		border-radius: 0px;
	}
	.cadre-1, .cadre-2 
	{
		align-self: flex-start;
		height: auto;

	}
	.activite-3, .activite-6
	{
		position: relative;
		left: 5%;
		align-self: flex-start;
		
	}
	.activite
	{
		
		width: 90%;
		height: 200px;
		margin-bottom: 30px;	
	}
	.populaire
	{
		width: 94%;
		height: 170px;
		margin-left: 0px;
	}
	.populaire img
	{
		width: 45%
	}
	.populaire .note-icones
	{
		position: relative;
		top: 40px;
	}
	.hebergement
	{
		width: 90%;
		height: 270px;
	}
	.hebergement
	{
		width: 95%;
		
	}
	.hebergement img
	{
		height: 55%;
		width: 100%;
	}
	.afficher-plus
	{
		top: 0;
	}
	.activite img 
	{
		width: 100%;
		height: auto;
	}
	
	#filtres
	{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: flex-start;
		margin-left: 2%;
		height: auto;
	}
	.filtre
	{
		margin-bottom: 10px;
	}
	.animaux
	{
		position: relative;
		top: 0px;
		right: 0px;
	}
	.conteneur-filtres
	{
		display: flex;
		flex-wrap: wrap;
	}
	#footer-menu
	{
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		margin: 0px;
	}
	.a-propos, .hebergements, .assistance
	{
		width: 90%;
		margin-left: 15px;
		margin-bottom: 30px;
		margin-top: 30px;
	}
	#recherche
	{
		margin: 0px;
	}
	#recherche h2
	{
		font-size: 25px;
	}
	#recherche h2, #recherche p
	{
	margin-left: 25px;
	text-align: left;
	width: 350px;
	}
	#recherche p
	{
		margin-bottom: 40px;
	}
	footer
	{
		margin: 0px;
	}
}