#conteneur_1
{
	display: flex;
	justify-content: space-between;
}

.cadre_1
{
	border: 1px solid black;
	width: 60%;
	margin-top: 25px;
}
.cadre_2
{
	border: 1px solid black;
	width: 38%;
	margin-top: 25px;
}